html, body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

a {
    text-decoration: none;
}

header{
    background: #000;
    color: #fff;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 45px;
}

header a.logotype{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
}

header h1{
    margin: 0;
    font-size: 20px;
}

header img {
    width: 30px;
    height: 30px;
}

header nav{
    margin: 0 0 0 auto;
}

header nav img{
    display: none;
}

header nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 20px;
}

header nav ul li a{
    color: #fff;
    padding: 0 0 8px 0;
}

header nav ul li button{
    background: #da3c07;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

header nav ul li button:hover{
    background: #f16f44;
}

#exec1 {
    background: #CCC;
    width: 300px;
    height: 100px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.bloco {
    background: #000;
    width: 60px;
    height: 60px;   
}

.rightauto{
    margin-right: auto;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

main {
    display: flex;
    gap: 20px;
}

main.wrapper{
    margin: 20px auto;
}


#sidebar-right, #sidebar-left {
    width: 200px;
    height: 500px;
    padding: 30px 0 0 0;
}

#content {
    width: 520px;
    min-height: 500px;
    padding: 20px;
}
#content h1{
    margin: 0 0 20px 0;
}

footer{
    background: #CCC;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    border-bottom: 4px solid #da3c07;
}

.card {
    border: 1px solid #CCC;
    border-radius: 15px;
    margin: 0 0 20px 0
}

.card img{
    border-radius: 15px 15px 0 0;
}

.card div{
    padding: 20px;
}

.card div h3{
    margin: 0 0 10px 0;
}

.card div p{
    margin: 0;
}

.card.horizontal{
    display: flex;
}

.card.horizontal img{
    border-radius: 15px 0 0 15px;
}

.card div span{
    background: #CCC;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
}

table{
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #CCC;
}

th, td{
    padding: 5px 10px;
}

fieldset {
    background: #f4f4f4;
    border: 1px solid #cdcdcd;
    padding: 20px 20px 20px 20px;
    margin: 0 0 20px 0;
}
legend{
    font-weight: bold;
}
input{
    margin: 5px 0 20px 0;
}

input[type=text], input[type=email], input[type=date], select{
    border-radius: 10px;
    padding: 5px 8px;
    border: 1px solid #cdcdcd;
}

form .flex{
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 1000px) {
    .wrapper{
        width: 100%;
    }
    #sidebar-right, #sidebar-left{
        width: 15%;
    }
    #content{
        width: 80%;
    }
}


@media screen and (max-width: 550px) {
    header nav img {
        display: block;
    }
    header nav ul {
        display: none;
    }
    header{
        width: 100%;
    }
     
}

@media screen and (min-width: 550px) and (max-width: 700px) {
    header {
        background: #720404;
        width: 100%;
    }
}